external_id	source_url	source_file
ENIGMA3.mean_full_surfarea_2019_noGC		
ENIGMA_GarciaMarin2023.Accumbens		
ENIGMA_GarciaMarin2023.Amygdala		
ENIGMA_GarciaMarin2023.Brainstem		
ENIGMA_GarciaMarin2023.Caudate		
ENIGMA_GarciaMarin2023.Hippocampus		
ENIGMA_GarciaMarin2023.ICV		
ENIGMA_GarciaMarin2023.Pallidum		
ENIGMA_GarciaMarin2023.Putamen		
ENIGMA_GarciaMarin2023.Thalamus		
ENIGMA_GarciaMarin2023.ventralDC		
SSGAC.EA4_additive_excl_23andMe		
